.header {

  /* rgb(180, 207, 248); */
  align-items: center;
  background-color: rgba(2, 73, 187, 0.473);
  box-shadow: 5px 1px 4px 5px rgb(0, 30, 112);
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 20px;
}

.headerPlayerInfos {
  background-color: rgba(0, 140, 255, 0.63);
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  width: 600px;
}

.headerLogo {
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 2px 2px white;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 140px;

}

.headerLogo img {
  height: 80px;
  width: 140px;
}

.user {
  align-items: center;
  display: flex;
  padding: 10px;
}

.user img {
  border-radius: 50%;
  height: 50px;
}

.user p {
  color: rgb(0, 0, 88);
  font-size: 20px;
  padding: 10px;
}

.score {
  align-items: center;
  color: rgb(0, 0, 88);
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 200px;
}

.score:before {
  content: '⭐ Pontos:';
  font-size: 25px;
  margin-right: 10px;
}

.scoreHeader {
  font-size: 25px;
  text-align: end;
}


@media screen and ( max-width : 800px ) {

  .headerPlayerInfos {
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 300px;
  }

  .headerLogo {
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 2px 2px white;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 120px;
  }

  .headerLogo img {
    height: 70px;
    width: 100px;
  }

  .user img {
    border-radius: 50%;
    height: 30px;
  }

  .user p {
    font-size: 15px;
    padding: 2px;
  }

  .score {
    padding: 0 0 10px;
  }

  .score:before {
    font-size: 18px;
  }

  .scoreHeader {
    font-size: 18px;
  }
}

@media screen and ( max-width : 499px ) {

  .headerPlayerInfos {
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 150px;
  }

  .user p {
    font-size: 14px;
  }

  .score:before {
    font-size: 14px;
  }

  .scoreHeader {
    font-size: 14px;
  }
}
